html {
  height: 100vh;
  font-family: Baloo;
}

body {
  padding: 10px;
  background-image: linear-gradient(45deg,red,orange,yellow,green,blue,indigo,violet);
}

#emoji-container {
  margin: 40px;
  text-align: center;
}

#emoji-container span {
  margin: 10px;
  font-size: 60px;
}

#push-btn,
#unshift-btn {
  background-color: #80d87f;
}

#shift-btn,
#pop-btn {
  background-color: #e23349;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
  color: white;
}

input {
  margin:auto 0;
  display: block;
  border: none;
  height: 30px;
  background: white;
  border-radius: 6px;
  text-align: center;
}

button {
  font-family: Baloo;
  letter-spacing: px;
  background: darkcyan;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  margin: 0 4px;
  font-size: 30px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.input-section {
  display: flex;
}

.align-right {
  margin-right: 0;
}
.align-left {
  margin-left: 0;
 }
